<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title>TrackEase Express - Dashboard</title>
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>📦</text></svg>">

      <style>
        html, body {
        margin: 0;
        padding: 0;
        background: #020617;
        }
    </style>      
</head>
<body>
  <track-dashboard></track-dashboard>

  <script type="module" src="/component/dashboard/trackDashboard.js"></script>
</body>
</html>
